[Unit]
Description=Hands-Free Telephone NLU Server
After=network.target
StartLimitIntervalSec=0
[Service]
User=handsfree
Group=handsfree
Type=simple
Restart=always
RestartSec=5
ExecStart=screen -D -m -S telephone_nlu -L -Logfile /home/handsfree/hands_free_telephone/log/telephone_nlu.log bash -c telephone_nlu -v'
ExecStop=screen -X -S telephone_nlu quit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
